* {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

.row-container,
th,
td {
  border: solid 1px black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.sub-btn {
  width: 120px;
  height: 50px;
  text-align: center;
  color: darkblue;
  font-size: large;
}

.sub-btn:hover {
  transition: all 2s green;
  width: 200px;
  border-color: red;
}

button {
  border-radius: 30px;
  border-color: green;
}
